@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';
@import './_bootstrap_custom';
@import '../node_modules/bootstrap/scss/bootstrap';

// Add non bootstrap SCSS here
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // TODO: Add header margin fix
}

.card-img-top {
  max-height: 10em;
}

.album {
  img {width: 100px;}
}

.album-summary {
  img {
    object-fit: cover;
  }
}
