@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';
@import './_bootstrap_custom';
@import '../node_modules/bootstrap/scss/bootstrap';

// Add non bootstrap SCSS here
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
  letter-spacing: -.07rem;
  font-weight: bold;
}

.album {
  img {width: 100px;}
}
